<div class="d-flex avatar">
    <img src="../../../../assets/images/avatar.png" alt="Avatar" style="border-radius: 50%;" />
  </div>

  <form>
    <nz-switch
      [ngModel]="false"
      nzCheckedChildren="Habilitado"
      nzUnCheckedChildren="Deshabilitado"
      [ngModelOptions]="{ standalone: true }"
    ></nz-switch>

    <nz-form-item>
      <nz-form-label>Cédula</nz-form-label>
      <input nz-input placeholder="0000-0000" />
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Nombre</nz-form-label>
      <input nz-input placeholder="" />
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Correo </nz-form-label>
      <input nz-input type="email" placeholder="" />
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Celular </nz-form-label>
      <input type="phone" nz-input placeholder="0000-0000" />
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Roll </nz-form-label>
      <nz-select nzPlaceHolder="">
        <nz-option nzLabel="Super Administrador" nzValue="superAdmin"></nz-option>
        <nz-option nzLabel="Admin Financiero" nzValue="financiero"></nz-option>
        <nz-option nzLabel="Admin negocio" nzValue="negocio"></nz-option>
        <nz-option nzLabel="Técnico" nzValue="tecnico"></nz-option>
      </nz-select>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Contraseña </nz-form-label>
      <input [type]="hide ? 'text' : 'password'" nz-input placeholder="Contraseña" />
      <div
        style="position: relative;
      top: -25px;
      left: 94%;"
      >
        <a (click)="hide = !hide"><i [ngClass]="hide ? 'fe fe-eye' : 'fe fe-eye-off'"></i></a>
      </div>
    </nz-form-item>
  </form>