<nz-row nzAlign="middle">
  <nz-col nzSpan="12">
    <nz-layout>
      <div class="leftSide"></div>
      <div class="logoCentro">
        <img src="../../../assets/Imagenes/Copia de LOGO AMARILLO.jpg" />
      </div>
    </nz-layout>
  </nz-col>
  <nz-col nzSpan="12">
    <nz-layout>
      <div class="rigthSide">
        <nz-content>
          <div class="authContainer">
            <div class="containerInner border-0">
              <router-outlet></router-outlet>
            </div>
          </div>
        </nz-content>
        <nz-footer>
          <div class="mt-auto text-center">
            Copyright © 2020 SSL Colombia |
            <a class="link" href="" target="_blank">
              Politicas de Privacidad
            </a>
            |
            <a href="" target="_blank" class="link"> Condiciones del servicio</a>
          </div>
        </nz-footer>
      </div>
    </nz-layout>
  </nz-col>
</nz-row>
