<h3>Carga masiva</h3>
<!-- <div class="text-justify">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim porro nisi modi et libero
      assumenda architecto ratione cumque repellat aspernatur, temporibus accusamus, facere eaque
      rem ut quas iste, sit nostrum!
    </p>
    <nz-upload
      nz-input
      nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
      [nzHeaders]="{ authorization: 'authorization-text' }"
      (nzChange)="handleChange($event)"
    >
      <button nz-button><i nz-icon nzType="upload"></i>Seleccionar un archivo</button>
    </nz-upload>
    <div class="d-flex justify-content-between mb-4 mt-4 ">
      <button nz-button class="whiteButton" (click)="closeMassLoadModal()">
        Cancelar
      </button>

      <button nz-button>Confirmar</button>
    </div>
  </div> -->