<div class="text-justify">
   <!--  <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim porro nisi modi et libero
      assumenda architecto ratione cumque repellat aspernatur, temporibus accusamus, facere eaque
      rem ut quas iste, sit nostrum!
    </p> -->

    <div class="custom-file mb-3" *ngIf="!fileLoader">
      <input
        type="file"
        class="custom-file-input"
        id="customFile"
        (change)="onFileChange($event)"
      />
      <label class="custom-file-label" for="customFile">Seleccinar archivo</label>
    </div>

    <app-result-users-creation></app-result-users-creation>

    <div class="d-flex justify-content-between mb-4 mt-4 ">
      <button nz-button class="whiteButton" (click)="closeMassLoadModal()">
        Cancelar
      </button>

      <button nz-button> {{ (loading) ? 'Cargando...' : 'Confirmar' }} </button>
    </div>
  </div>