<div class="container text-right">
  <form [formGroup]="employeesForm" (ngSubmit)="onSubmit()">
    <table class="table table-striped table-bordered text-center">
      <thead>
        <tr>
          <th>Cédula</th>
          <th>Nombre</th>
          <th>Rol</th>
          <th>Correo electrónico</th>
          <th>Celular</th>
          <th>Teléfono fijo</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let control of employeesForm.controls; let i = index" [formGroupName]="i">
          <td>
            <nz-form-control [nzErrorTip]="errorTpl">
              <input nz-input class="form-control" type="number" formControlName="document"/>
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Ingrese cédula
                </ng-container>
              </ng-template>
            </nz-form-control>
          </td>
          <td>
            <nz-form-control [nzErrorTip]="errotTp2">
              <input nz-input class="form-control" type="text" formControlName="name"/>
              <ng-template #errotTp2 let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Ingrese nombre
                </ng-container>
              </ng-template>
            </nz-form-control>
          </td>
          <td>
            <nz-form-control [nzErrorTip]="errorTp3">
              <nz-select nz-input name="select-error" formControlName="roles">
                <nz-option nzValue="" nzLabel="-- Seleccione --"></nz-option>
                <nz-option *ngFor="let roleItem of rolesList" [nzValue]="[roleItem.id]" [nzLabel]="roleItem.value"></nz-option>
              </nz-select>
              <ng-template #errorTp3 let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Seleccione rol
                </ng-container>
              </ng-template>
            </nz-form-control>
          </td>
          <td>
            <nz-form-control [nzErrorTip]="errorTp4">
              <input nz-input class="form-control" type="text" formControlName="email"/>
              <ng-template #errorTp4 let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Ingrese email
                </ng-container>
                <ng-container *ngIf="control.hasError('email')">
                  Email incorrecto
                </ng-container>
              </ng-template>
            </nz-form-control>
          </td>
          <td>
            <nz-form-control [nzErrorTip]="errorTp5">
              <input nz-input class="form-control" type="text" formControlName="mobile"/>
              <ng-template #errorTp5 let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Ingrese celular
                </ng-container>
              </ng-template>
            </nz-form-control>
          </td>
          <td>
            <nz-form-control [nzErrorTip]="errorTp6">
              <input nz-input class="form-control" type="text" formControlName="phone"/>
              <ng-template #errorTp6 let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Ingrese teléfono
                </ng-container>
              </ng-template>
            </nz-form-control>
          </td>
          <td>
            <a
              nzTooltipTitle="Eliminar"
              nzTooltipPlacement="top"
              nz-tooltip
              (click)="removeEmployeeRow(i)"
              ><i class="fe fe-trash-2 "></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" nz-button class="yellowButton mb-4" (click)="addNewEmployeeRow()">
      Agregar nueva fila
    </button>
    <div class="row justify-content-between mb-4 text-center">
      <div class="col">
        <button type="button" nz-button style="width: 50%;" class="whiteButton" (click)="closeAddUserModal()">
          Cancelar
        </button>
      </div>
      <div class="col">
        <button [disabled]="employeesForm.invalid || loading" type="submit" nz-button style="width: 50%;">
          {{ (loading) ? 'Cargando...' : 'Confirmar' }} 
        </button><br>
        <small *ngIf="employeesForm.invalid">Por favor ingrese los valores del formulario</small>
      </div>
    </div>
  </form>
  
  <app-result-users-creation></app-result-users-creation>
  </div>