<div>
  <div>
    <h2>
      Administrar <span class="ml-3" style="font-size: 28px;"> &#8226;</span>
      <span class="ml-3" style="color:#58544E; font-size: 25px;">Empresas</span>
    </h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <nz-select
          nzSuffixIcon="filter"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="-Seleccionar filtro-"
          [(ngModel)]="selectedValue"
          style="width: 100%;"
        >
          <nz-option nzLabel="Proyect -1" nzValue="jack"></nz-option>
          <nz-option nzLabel="proyect -2" nzValue="lucy"></nz-option>
          <nz-option nzLabel="Proyect -3" nzValue="tom"></nz-option>
        </nz-select>
      </div>
      <div class="col-3">
        <input
          nz-input
          class="form-control  "
          type="text"
          name="searchTerm"
          [(ngModel)]="service.searchTerm"
          placeholder="&#xF002; Buscar"
          style="font-family: FontAwesome;  width: 100%;"
        />
      </div>
    </div>

    <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span><br />

    <table class="table table-bordered mt-4">
      <thead>
        <tr>
          <th scope="col">Razón social</th>
          <th scope="col" sortable="name" (sort)="onSort($event)">NIT</th>
          <th scope="col" sortable="area" (sort)="onSort($event)">Nombre contacto</th>
          <th scope="col" sortable="population" (sort)="onSort($event)">Teléfono contacto</th>
          <th scope="col" sortable="population" (sort)="onSort($event)">Correo electrónico</th>
          <th scope="col" sortable="population" (sort)="onSort($event)"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let id of countries$ | async">
          <td>
            <ngb-highlight [result]="id.fecha" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="id.name" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="id.estadoProyecto" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="id.sede" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="id.sede" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <a
              (click)="modalEditCompany()"
              nzTooltipTitle="Editar"
              nzTooltipPlacement="top"
              nz-tooltip
              class="iconTableLink"
              ><i class="fe fe-edit"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <button nz-button>
        Descargar
        <img style="width: 50px;" src="../../../../assets/Imagenes/Copia de 001-excel copy.svg" />
      </button>
      <ngb-pagination
        [collectionSize]="total$ | async"
        [(page)]="service.page"
        [pageSize]="service.pageSize"
      >
      </ngb-pagination>
    </div>
  </div>
</div>

<!--------------Modal Editar empresa--------->
<nz-modal
  [(nzVisible)]="isVisibleEditCompany"
  nzFooter="null"
  (nzOnCancel)="editCompanyClose()"
  [nzWidth]="500"
  [nzTitle]="titleEditCompany"
  [nzContent]="contentEditCompany"
>
  <ng-template #titleEditCompany>
    <h4>Detalle de empresa</h4>
  </ng-template>
  <ng-template #contentEditCompany>
    <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="ActualizarForm()">
      <div class="row">
        <!--Razon Social-->
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label nzFor="razonSocial">Razón social</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="Razón social" id="razonSocial" required />
            </nz-form-control>
          </nz-form-item>
        </div>
        <!--Nombre contacto-->
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label nzFor="nombreContacto">Nombre de contacto</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="Nombre de contacto" id="nombreContacto" required />
            </nz-form-control>
          </nz-form-item>
        </div>
        <!--NIT-->
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label nzFor="NIT">NIT (Opcional)</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="NIT" id="NIT" required />
            </nz-form-control>
          </nz-form-item>
        </div>
        <!--Telefono-->
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label nzFor="phone">Teléfono de contacto</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="Teléfono de contacto" id="phone" required />
            </nz-form-control>
          </nz-form-item>
        </div>
        <!--SectorComercial-->
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label>Sector Comercial</nz-form-label>
            <nz-select>
              <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
              <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
              <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
            </nz-select>
          </nz-form-item>
        </div>
        <!--Email-->
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label nzFor="email">Correo electrónico</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="Correo electrónico" id="email" required />
            </nz-form-control>
          </nz-form-item>
        </div>
        <!--Address-->
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label nzFor="address">Dirección</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="Dirección" id="address" required />
            </nz-form-control>
          </nz-form-item>
        </div>
        <!--Numero de funcionarios-->
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label>Número de funcionarios</nz-form-label>
            <nz-select>
              <nz-option nzValue="jack" nzLabel="Jaooooo"></nz-option>
              <nz-option nzValue="lucy" nzLabel="Lucyyyyyy"></nz-option>
              <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
            </nz-select>
          </nz-form-item>
        </div>
      </div>
      <div class="d-flex justify-content-between mb-4 text-center">
        <div class="col">
          <button nz-button class=" whiteButton" (click)="editCompanyClose()" style="width: 80%;">
            Cancelar
          </button>
        </div>
        <div class="col">
          <button nz-button style="width: 80%;">
            Confirmar
          </button>
        </div>
      </div>
    </form>
  </ng-template>
</nz-modal>
