<div>
  <a routerLink="/login" class="">
    <i class="fe fe-arrow-left mr-1 align-middle"></i>
  </a>
  <div class="mb-4">
    <h2>Recuperar contraseña</h2>
  </div>
  <form nz-form [nzLayout]="'vertical'">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your email!">
        <input type="email" nz-input nzSize="large" placeholder="Correo electrónico" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button
          nz-button
          nzType="primary"
          [nzSize]="'large'"
          class="text-center w-100 buttonGeneral mt-4"
          click="sendForgotPassword()"
        >
          <strong>Enviar enlace de recuperación </strong>
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
