@import 'src/app/components/mixins.scss';

//////////////////////////////////////////////////////////////////////////////////////////
/* LOGIN */
.fe-arrow-left {
  position: absolute;
  top: 29px;
  left: 20px;
  font-size: 36px;
  color: $primary;
}
