<div>
  <div>
    <h2>
      Administrar <span class="ml-3" style="font-size: 28px;">&#8226;</span>
      <span class="ml-3" style="color:#58544E; font-size: 25px;">Usuarios</span>
    </h2>
  </div>

  <h1 *ngIf="loading"></h1>

  <div class="card-body">
    <div class="d-flex justify-content-between">
      <button nz-button (click)="openAddUsersModal()">Crear Usuario</button>
      <button nz-button (click)="removeFilters()">Quitar filtros</button>
      <button nz-button class="yellowButton">
        Carga Masiva de Usuarios
      </button>
    </div>


    <form class="row mt-4" [formGroup]="filterForm" (ngSubmit)="FilterFormOnSubmit()">
      <div class="col-4">
        <nz-form-control [nzErrorTip]="errorTpl">
          <nz-select  nzSuffixIcon="filter" nzShowSearch nzAllowClear style="width: 100%;" nz-input name="select-error" formControlName="filterType">
            <nz-option nzValue="" nzLabel="-- Seleccione --"></nz-option>
            <nz-option *ngFor="let filterItem of filterList" [nzLabel]="filterItem" [nzValue]="filterItem"></nz-option>
          </nz-select>
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="f.filterType.hasError('required')">
              Seleccione rol
            </ng-container>
          </ng-template>
        </nz-form-control>
      </div>
      <div class="col-4">
        <nz-form-control [nzErrorTip]="errorTpl">
          <input nz-input style="font-family: FontAwesome;  width: 100%;" name="searchTerm" class="form-control" type="text" formControlName="filterValue"/>
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="f.filterValue.hasError('required')">
              Ingrese el valor
            </ng-container>
          </ng-template>
        </nz-form-control>
      </div>
      <button [disabled]="filterForm.invalid" nz-button nzType="primary" type="submit">Filtrar</button>
    </form>


    <pre>{{ filterList | json }}</pre>
    <pre>{{ people | json }}</pre>
    <!--  <table class="table table-bordered mt-4">
      <thead>
        <tr>
          <th scope="col">Cédula</th>
          <th scope="col" sortable="name" (sort)="onSort($event)">Nombre</th>
          <th scope="col" sortable="area" (sort)="onSort($event)">Rol</th>
          <th scope="col" sortable="population" (sort)="onSort($event)">Correo electrónico</th>
          <th scope="col" sortable="population" (sort)="onSort($event)">Celular</th>
          <th scope="col" sortable="population" (sort)="onSort($event)">Teléfono Fijo</th>
          <th scope="col" sortable="population" (sort)="onSort($event)"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let id of countries$ | async">
          <td>
            <ngb-highlight [result]="id.fecha" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="id.name" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="id.estadoProyecto" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="id.sede" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="id.sede" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="id.sede" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <a
              nzTooltipTitle="Editar"
              nzTooltipPlacement="top"
              nz-tooltip
              class="iconTableLink"
              (click)="editUser()"
              ><i class="fe fe-edit"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table> -->

    <!--  <div class="d-flex justify-content-between p-2">
      <button nz-button>
        Descargar
        <img style="width: 50px;" src="../../../../assets/Imagenes/Copia de 001-excel copy.svg" />
      </button>
      <ngb-pagination
        [collectionSize]="total$ | async"
        [(page)]="service.page"
        [pageSize]="service.pageSize"
      >
      </ngb-pagination>
    </div> -->
  </div>
</div>

<!-----------------Add Modal Add User--------------->
<nz-modal
  [(nzVisible)]="isAddUserModalOpen"
  nzFooter="null"
  [nzTitle]="modalTitle2"
  [nzContent]="modalContent2"
  [nzWidth]="1000"
  class="addUser"
  (nzOnCancel)="closeAddUserModal()"
  nzWrapClassName="vertical-center-modal"
>
  <ng-template #modalTitle2>
    <h4>Crear usuario</h4>
  </ng-template>

  <ng-template #modalContent2>
    <app-add-user></app-add-user>
  </ng-template>
</nz-modal>

<!---------------------Modal Editar Usuario---------------->
<!-- <nz-modal
  nzWrapClassName="vertical-center-modal"
  [(nzVisible)]="isVisibleEditUser"
  nzFooter="null"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  class="editUser"
  (nzOnCancel)="editUserClose()"
>
  <ng-template #modalTitle>
    <h4>Detalle de usuario</h4>
  </ng-template>

  <ng-template #modalContent>
    <div class="d-flex avatar">
      <img src="../../../../assets/images/avatar.png" alt="Avatar" style="border-radius: 50%;" />
    </div>

    <form>
      <nz-switch
        [ngModel]="false"
        nzCheckedChildren="Habilitado"
        nzUnCheckedChildren="Deshabilitado"
        [ngModelOptions]="{ standalone: true }"
      ></nz-switch>

      <nz-form-item>
        <nz-form-label>Cédula</nz-form-label>
        <input nz-input placeholder="0000-0000" />
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Nombre</nz-form-label>
        <input nz-input placeholder="" />
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Correo </nz-form-label>
        <input nz-input type="email" placeholder="" />
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Celular </nz-form-label>
        <input type="phone" nz-input placeholder="0000-0000" />
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Roll </nz-form-label>
        <nz-select nzPlaceHolder="">
          <nz-option nzLabel="Super Administrador" nzValue="superAdmin"></nz-option>
          <nz-option nzLabel="Admin Financiero" nzValue="financiero"></nz-option>
          <nz-option nzLabel="Admin negocio" nzValue="negocio"></nz-option>
          <nz-option nzLabel="Técnico" nzValue="tecnico"></nz-option>
        </nz-select>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Contraseña </nz-form-label>
        <input [type]="hide ? 'text' : 'password'" nz-input placeholder="Contraseña" />
        <div
          style="position: relative;
        top: -25px;
        left: 94%;"
        >
          <a (click)="hide = !hide"><i [ngClass]="hide ? 'fe fe-eye' : 'fe fe-eye-off'"></i></a>
        </div>
      </nz-form-item>
    </form>
  </ng-template>
</nz-modal> -->

<!-----------------Add Modal Carga Masiva--------------->
<!-- <nz-modal
  [(nzVisible)]="isVisibleCargaMasiva"
  nzFooter="null"
  [nzTitle]="modalTitle3"
  [nzContent]="modalContent3"
  [nzWidth]="500"
  class="addUser"
  (nzOnCancel)="cargaMasivaClose()"
  nzWrapClassName="vertical-center-modal"
>
  <ng-template #modalTitle3>
    <h4>Carga masiva de usuarios</h4>
  </ng-template>

  <ng-template #modalContent3>
    <div class="text-justify">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim porro nisi modi et libero
        assumenda architecto ratione cumque repellat aspernatur, temporibus accusamus, facere eaque
        rem ut quas iste, sit nostrum!
      </p>
      <nz-upload
        nz-input
        nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
        [nzHeaders]="{ authorization: 'authorization-text' }"
        (nzChange)="handleChange($event)"
      >
        <button nz-button><i nz-icon nzType="upload"></i>Seleccionar un archivo</button>
      </nz-upload>
      <div class="d-flex justify-content-between mb-4 mt-4 ">
        <button nz-button class="whiteButton" (click)="cargaMasivaClose()">
          Cancelar
        </button>

        <button nz-button (click)="resultadoCarga()">Confirmar</button>
      </div>
    </div>
  </ng-template>
</nz-modal> -->

<!-- <nz-modal
  [(nzVisible)]="isResultadoCarga"
  nzFooter="null"
  [nzTitle]="modalTitle4"
  [nzContent]="modalContent4"
  [nzWidth]="900"
  class="addUser"
  (nzOnCancel)="resultadoCargaClose()"
  nzWrapClassName="vertical-center-modal"
>
  <ng-template #modalTitle4>
    <h4>Resultado de carga</h4>
  </ng-template>

  <ng-template #modalContent4>
    <div class="text-justify">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim porro nisi modi et libero
        assumenda architecto ratione cumque repellat aspernatur, temporibus accusamus, facere eaque
        rem ut quas iste, sit nostrum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
        nulla fugiat cumque deleniti culpa accusamus omnis exercitationem minima suscipit libero
        unde aut illum quae soluta eveniet id incidunt, et fugit.
      </p>
      <div class="row">
        <div class="col-6">
          <h5>Usuarios cargados con éxito</h5>
          <textarea style="width: 100%;" disabled></textarea>
        </div>
        <div class="col-6">
          <h5>Errores</h5>
          <textarea style="width: 100%;" disabled></textarea>
        </div>
      </div>
      <div class="d-flex justify-content-end mb-4 mt-4 ">
        <button nz-button>Aceptar</button>
      </div>
    </div>
  </ng-template>
</nz-modal> -->
